/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}

.container>.navbar-collapse{
    float: left;
}

.cart{
    float: right;
    margin-right: 0px;
}

.list-group-box{
    margin-top: 20px;
}

.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eee;
}

.container-box{
    margin-top: 20px;
}

.foter-color{
    color: gray;
}

.footer-box{
    margin-top: 20px;
    padding: 20px;
}

.box{
    margin-top: 20px;
}

.price{
    font-size: 16px;
    color: #006600;
}

.ex-tax{
    font-size: 12px;
    color: #c9302c;
}

.color-white{
    color: white;
}

.show-hide{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: white;
}

.img-post{
    width: 100%;
}

/*Stars Post*/
.rate {
    margin: 0;
    padding: 0;
    font-size: 0;
}
.rate:hover .star {
    color: #06c;
}
.rate .star {
    margin: 0;
    padding: .2em;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-shadow:
    0 1px #06c,
    0 -1px #06c,
    1px 0 #06c,
    -1px 0 #06c;
}
.rate .star:before {
    content: '\2605';
}
.rate .star:hover ~ .star {
    color: #fff;
}

/*Stars Post*/

#post-more-button{
    float: right;
}

/*  TEASER PRODUCT HOVER  */
.holder{
    border: none;
    position:relative;
    width:100%;
    height:330px;
    margin:100px auto;
}

.block{
    border: solid white 2px;
    z-index: 999;
    position:absolute;
    left: 0;
    bottom:0;
    right:0;
    top:0px;
    padding:0px;
    display:block;
    width: 100%;
    -webkit-transition: border 3s, left 0.5s, width 0.5s, height 0.5s, -webkit-transform 0.5s;
    transition: border 3s, left 0.5s, width 0.5s, height 0.5s, transform 0.5s;
}

.holder:hover .block{
    border: solid #f6f6ef 2px;
    left: -5%;
    width: 110%;
    height: 110%;
    z-index: 9999;
    display:block;
}

.holder:hover .holder{
    border: solid #f6f6ef 2px;
}

.block:hover .hidden-block{
    display:block;
}

.hidden-block{
    display: none;
    transition: display 2s;
}

.holder:hover .thumbnail{
    transition: 3s;
}

.margin-box{
    margin-top: -100px;
    margin-bottom: -70px;
}

.thumbnail {
    border: none;
    padding: 0px;
}

/*Ленточка*/

a {
    text-decoration: none;
    cursor: pointer;
}
/* Стили базового блока с картинкой */
.visual{
    margin:0 auto;
    position: relative;
    width: 300px;
}
/* Стили картинки внутри блока */
.visual img {
    float: left;
    width: 100%;
    border: 1px solid #cacaca;
    box-shadow:2px 2px 5px #333030;
}
/* Стили ленты */
.corner {
    height: 0px;
    border: 14px solid rgba(12, 151, 0, 0.67);
    border-right-color: transparent;
    box-shadow: -0px 5px 5px -5px #000;
    font: 12px/0 'PT Sans', arial, sans-serif;
    color: #fef;
    top: 9px;
    left: -9px;
    position: absolute;
    padding: 0 14px 0 5px;
    z-index: 1;
}
/* Меняем цвет текста ленты при наведении*/
.corner:hover{
    color: #fff;
}
/* Стили нижненго уголка ленты */
.corner span {
    content: "";
    position: absolute;
    top: 13px;
    left: -14px;
    width: 0;
    height: 0;
    text-decoration: none;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-top-color: rgba(0, 151, 0, 0.9);
}

.th-img{
    width: 120px;
}

#plus{
    padding-left: 20px;
    padding-right: 20px;
}

#minus{
    padding-left: 20px;
    padding-right: 20px;
}

.count-product-value{
    width: 80px;
    color: gray;
    font-size: 26px;
}

.count-product{
    border: solid gray 2px;
    border-radius: 3px;
    width: 40px;
    text-align: center;
}

#img-preview-product-page{
    margin-top: 10px;
    min-height: 100px;
}

#z-index{
    z-index: 9999;
}

#modal-button{
    float: right;
    position: relative;
}

.mid-ml{
    align-content: center;
}

.call-back-input{
    border: solid #E6E6E6 1px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.call-back-box{
    padding: 15px;
}

.call-back-text{
    border: solid #E6E6E6 1px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    max-width: 100%;
    min-height: 30%;
}

.call-back-button{
    border: solid 1px;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.image-choose-color-box{
    padding: 15px;
}

.content-choose-color-box{
    padding: 15px;
}

.choose-color-tittle-box{
    padding: 15px;
}