html
    head
        include layout/head.pug
    body
        .container
            .row
                include layout/header.pug
                include layout/main-menu.pug
                include app/shared/about/about-body.pug
                include layout/footer.pug
                include layout/elements/modal-call-back.pug
                include layout/elements/script.pug
