html
  head
    include layout/head.pug
  body
    .container
      .row
        include layout/header.pug
        include layout/main-menu.pug
        include app/shared/product/top-random-slider.pug
        include app/shared/product/products-top-list.pug
        include app/shared/product/products-news-list.pug
        include app/shared/product/products-sale-list.pug
        include app/shared/product/products-reviews-list.pug
        include layout/seo-text.pug
        include layout/footer.pug
        include layout/elements/modal-call-back.pug
        include layout/elements/modal-choose-color-product.pug
        include layout/elements/modal.pug
        include layout/elements/script.pug
