html
    head
        include layout/head.pug
    body
        .container
            .row
                include layout/header.pug
                include layout/main-menu.pug
                include app/shared/product/product-more-info-body.pug
                include layout/seo-text.pug
                include layout/footer.pug
                include layout/elements/script.pug