.container
    .container-box
        .row
            .col-md-5
                ul.nav.nav-tabs(id='myTab')
                    li.active: a(href='#new', data-toggle='tab') New
                    li: a(href='#new1', data-toggle='tab') New 1
                    li: a(href='#existing', data-toggle='tab') Existing

                .tab-content
                    .tab-pane.active(id='new')
                        .row
                            form.form-horizontal
                                .col-md-6
                                    .control-group
                                        label.control-label(for='inputName') Ваше имя *
                                        .controls
                                            input(type='text', id='inputName', placeholder='Name')
                                    .control-group
                                        label.control-label(for='inputSname') Ваша фамилия *
                                        .conrols
                                            input(type='text', id='inputSname', placeholder='Sname')
                                .col-md-6
                                    .control-group
                                        label.control-label(for='inputPhone') Ваш телефон
                                        .conrols
                                            span.add-on +38
                                            input.span2(type='text', id='inputPhone', placeholder='Password')
                                    .control-group
                                        label.control-label(for='inputEmail') Ваш Email
                                        .controls
                                            input(type='text', id='inputEmail', placeholder='Email')
                                    .control-group
                                        .controls
                                            button.btn(type='submit') Далее
                    .tab-pane(id='new1')
                        .row
                            form.form-horizontal(name='pay')
                                .col-md-6
                                    .control-group
                                        .row
                                            .col-md-12
                                                label.control-label(for='inputCity') Город *
                                                .controls
                                                    input(type='text', id='inputCity', placeholder='Город')
                                    .control-group
                                        .row
                                            .col-md-12
                                                label.control-label(for='inputDeliveryOptions') Варианты доставки *
                                                .controls
                                                    select(name='deliveryOptions', form='pay')
                                                        option(value='one') One
                                                        option(value='one') Two
                                                        option(value='one') Three
                                                        option(value='one') Four
                                    .control-group
                                            label.control-label(for='inputStreet') Улица
                                            .conrols
                                                input(type='text', id='inputStreet', placeholder='Street')
                                            label.control-label(for='inputHouse') Дом
                                            .conrols
                                                input(type='text', id='inputHouse', placeholder='House')
                                            label.control-label(for='inputAppartments') Кв
                                            .conrols
                                                input(type='text', id='inputAppartments', placeholder='Appartments')
                                .col-md-6
                                    .control-group
                                        .row
                                            .col-md-12
                                                label.control-label(for='inputTimeDelivery') Время доставки *
                                                .controls
                                                    select(name='timeDelivery', form='pay')
                                                        option(value='one') One
                                                        option(value='one') Two
                                                        option(value='one') Three
                                                        option(value='one') Four
                                    .control-group
                                        .row
                                            .col-md-12
                                                label.control-label(for='inputPayOptions') Варианты оплаты *
                                                .controls
                                                    select(name='payOptions', form='pay')
                                                        option(value='one') One
                                                        option(value='one') Two
                                                        option(value='one') Three
                                                        option(value='one') Four
                                    .control-group
                                        .controls
                                            button.btn(type='submit') Оформить заказ


                    .tab-pane(id='existing')
                        .row
                            form.form-horizontal(name='login')
                                .col-md-6
                                    label.control-label(for='inputLogin') Улица
                                    .conrols
                                        input(type='text', id='inputLogin', placeholder='Login')
                                .col-md-6
                                    label.control-label(for='inputPassword') Улица
                                    .conrols
                                        input(type='password', id='inputPassword', placeholder='Password')
                                    button.btn(type='submit') Войти


            .col-md-7
                table.table.table-striped.table-hover.cart-table
                    thead
                        tr
                            th.th-img Каритинка
                            th Ваш заказ
                            th Цена
                            th Количество
                    tbody
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $22.00
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $12.00
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $48.00
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $158.00
                        tr
                            td
                            td
                            td  Общая сумма:
                            td  $240.00
