ul.nav.nav-tabs.nav-stacked
    h4 Blog Categoryes
    li: a(href='#') Blog Category 1
    li: a(href='#') Blog Category 2
    li: a(href='#') Blog Category 3
    li: a(href='#') Blog Category 4
    li: a(href='#') Blog Category 5
    li: a(href='#') Blog Category 6
    li: a(href='#') Blog Category 7
    li: a(href='#') Blog Category 8
    li: a(href='#') Blog Category 9
    li: a(href='#') Blog Category 10
    li: a(href='#') Blog Category 11
    li: a(href='#') Blog Category 12
    li: a(href='#') Blog Category 13
    li: a(href='#') Blog Category 14
    li: a(href='#') Blog Category 15
    li: a(href='#') Blog Category 16
    li: a(href='#') Blog Category 17
    li: a(href='#') Blog Category 18
    li: a(href='#') Blog Category 19
    li: a(href='#') Blog Category 20