ul.nav.nav-tabs.nav-stacked
    h4 Categoryes
    li: a(href='#') Category 1
    li: a(href='#') Category 2
    li: a(href='#') Category 3
    li: a(href='#') Category 4
    li: a(href='#') Category 5
    li: a(href='#') Category 6
    li: a(href='#') Category 7
    li: a(href='#') Category 8
    li: a(href='#') Category 9
    li: a(href='#') Category 10
    li: a(href='#') Category 11
    li: a(href='#') Category 12
    li: a(href='#') Category 13
    li: a(href='#') Category 14
    li: a(href='#') Category 15
    li: a(href='#') Category 16
    li: a(href='#') Category 17
    li: a(href='#') Category 18
    li: a(href='#') Category 19
    li: a(href='#') Category 20