.container-fluid
    .row
        hr
        .col-md-12
            .col-md-3
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
            .col-md-3
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
                li: a(href='#') Link
            .col-md-6
                .input-group
                    input.form-control(type='text' placeholder='Search for...')
                    span.input-group-btn
                        button.btn.btn-default(type='button') Search!
                .col-md-5
                    h6 Number
                    span 8-800-333-1111
                .col-md-5
                    h6 Office
                    span +7-983-309-9966
                .col-md-2
                    span CallBack
        .col-md-12
            .col-md-3
                p © Copyright, 2016
            .col-md-3
                p Adress Kyiv, Sunrise Avenue, 15
            .col-md-3
                p Email: expamplemail.com
            .col-md-3
                a vk |
                a fb |
                a ok |
                a google+
