header
  .container-fluid
    .row
      .col-md-4.col-sm-4
        p (044) 374 03 83 0(800) 50 77 40
        p Ежедневно с 7:55 до 20:05
        button.btn.btn-default(data-toggle='modal', data-target='.modal-call-back')
          | Обратный звонок


      .col-md-4.col-sm-4.text-center
        img(src="http://placehold.it/300x150")
        p Slogan

      .col-md-4.col-sm-4
        .input-group(style='clear: both;')
          input.form-control(type='text' placeholder='Search for...')
          span.input-group-btn
            button.btn.btn-default(type='button') Search!
        button.btn.btn-default(style='float: right;'): a(href='./cart.html') Cart(14)

