meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width,initial-scale=1')
title Modern Business - Start Bootstrap Template
link(href='css/bootstrap.min.css', rel='stylesheet')
link(href='css/modern-business.css', rel='stylesheet')