.row
  nav.navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle.collapse(type='button', data-toggle='collapse',data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toogle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
        ul.nav.navbar-nav
          li.active
            a(href='index.html') Home
              span.sr-only (current)
          li: a(href='category.html') Category
          li: a(href='blog.html') Blog
          li: a(href='about.html') About

.row.text-center
  include tab.pug