.container-fluid
    .row
        .show-hide
            .col-md-12
                .col-md-3
                    h4 Category List 1
                    li: a(href='#')  Link One
                    li: a(href='#')  Link Two
                    li: a(href='#')  Link Three
                    li: a(href='#')  Link Four
                    li: a(href='#')  Link Five
                    li: a(href='#')  Link Six
                    hr

                .col-md-3
                    h4 Category List 2
                    li: a(href='#')  Link One
                    li: a(href='#')  Link Two
                    li: a(href='#')  Link Three
                    li: a(href='#')  Link Four
                    li: a(href='#')  Link Five
                    li: a(href='#')  Link Six
                    hr

                .col-md-3
                    h4 Category List 3
                    li: a(href='#')  Link One
                    li: a(href='#')  Link Two
                    li: a(href='#')  Link Three
                    li: a(href='#')  Link Four
                    li: a(href='#')  Link Five
                    li: a(href='#')  Link Six
                    hr

                .col-md-3
                    h4 Category List 4
                    li: a(href='#')  Link One
                    li: a(href='#')  Link Two
                    li: a(href='#')  Link Three
                    li: a(href='#')  Link Four
                    li: a(href='#')  Link Five
                    li: a(href='#')  Link Six
                    hr
