.container-fluid
  .row
    .col-md-2: include ../category/cateory-list.pug

    .col-md-10
      .container-fluid
        .row
          .col-md-12
            .col-md-4: include product-teser.pug
            .col-md-4: include product-teser.pug
            .col-md-4: include product-teser.pug
          .col-md-12
            .col-md-4: include product-teser.pug
            .col-md-4: include product-teser.pug
            .col-md-4: include product-teser.pug

