.margin-box
  .holder
    .block
      .thumbnail
        img(src="http://placehold.it/800x500")
        a.corner(href='http://vk.com/')
          span &nbsp;
          | New
        .caption
          h3 Product Label
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit
          span.price By now: 600$
          .hidden-block
            span.ex-tax: strong: strike Ex Tax: $500.00
            hr
            .mid-ml
              .btn-group
                button.btn.btn-default 100 ML
                button.btn.btn-default 150 ML
                button.btn.btn-default 200 ML
            .row
              .col-md-6
                p Выберите цвет:
              .col-md-6
                button.btn.btn-default(data-toggle='modal', data-target='.modal-choose-color') Choose Color

            hr
            .row
              .col-md-6
                button.btn.btn-primary(data-toggle='modal', data-target='.modal-by', style='width: 100%; height: 30px;')
                  span.glyphicon.glyphicon-shopping-cart(aria-hidden='true') Купить

              .col-md-6
                a.btn.btn-default(href="product-more-info.html", style='width: 100%; height: 30px;')
                  span.glyphicon.glyphicon-eye-close(aria-hidden='true') Посмотреть

