.row
    .col-md-12
        .col-sm-2
            img.img-post(src="http://placehold.it/800x500", id='img-preview-product-page')
            img.img-post(src="http://placehold.it/800x500", id='img-preview-product-page')
            img.img-post(src="http://smarticle.ru/wp-content/uploads/2015/03/video-thumbnail.jpg", id='img-preview-product-page')
        .col-sm-7
            img.img-post(src="http://placehold.it/800x500")
        .col-sm-3
            button.btn.bg-success Акция!

            button.btn NEW

            hr

            button.btn.btn-default 100 ML
            button.btn.btn-default 150 ML
            button.btn.btn-default 200 ML

            hr

            select.btn.btn-default
                option(value='Green') Green
                option(value='Yellow') Yellow
                option(value='Black') Black
                option(value='Red') Red

            hr
            
            p Код товара: 2315312
            p Есть в наличии!

            button.btn.btn-default.btn-group-lg КУПИТЬ
hr
.row
    .col-md-12
        .col-sm-9
            ul.nav.nav-tabs(id='myTab')
                li.active: a(href='#description', data-toggle='tab') Описание товара
                li: a(href='#reviews', data-toggle='tab') Отзывы

            .tab-content
                .tab-pane.active(id='description')
                    p Сделано в: Страна
                    p Дата выпуска: 2016
                    p Страна ТМ: Страна
                    p Пол: для женщин
                    p Начальная нота: абрикос, мандарин
                    p Классификация: элитная
                    p Описание: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

                .tab-pane(id='reviews')
                    h4 Форма для Постоянного Клиента
                    p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
        .col-sm-3

