.container-fluid
  .row
    .col-md-2: include ../category/cateory-list-blog.pug

    .col-md-10
      include ../blog/post-teser.pug
      include ../blog/post-teser.pug
      include ../blog/post-teser.pug
      include ../blog/post-teser.pug
      include ../blog/post-teser.pug

