.container-fluid
  .row
    .col-md-12
      h3 Products SALE

  .row
    .col-md-3: include product-teser.pug
    .col-md-3: include product-teser.pug
    .col-md-3: include product-teser.pug
    .col-md-3: include product-teser.pug

