.container
    .row
        .col-md-12
            h3 Reviews

    .row
        .col-md-12
            .carousel.slide(id='myCarousel', data-interval='3000', data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCaorusel', data-slide-to='1')
                    li(data-target='#myCaorusel', data-slide-to='2')
                .carousel-inner
                    .active.item
                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.
                    .item
                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.
                    .item
                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 John
                                    h6 17:23 (23.04.2018)
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                a.carousel-control.left(href='#myCarousel', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                a.carousel-control.right(href='#myCarousel', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right



