.container
    .row
        .col-md-12
            h3 Random slider

    .row
        .col-md-12
            .carousel.slide(id='myCarousel', data-interval='3000', data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCaorusel', data-slide-to='1')
                    li(data-target='#myCaorusel', data-slide-to='2')
                .carousel-inner
                    .active.item
                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 1
                                    h6 Description
                                    p Basic comment exapmle. Basic comment exapmle. Basic comment exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 2
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 3
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.
                    .item
                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 4
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 5
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 6
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.
                    .item
                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 7
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 8
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.

                        .col-md-4
                            .panel.panel-default
                                .panel-body
                                    h4 Slide 9
                                    h6 Description
                                    p Basic content exapmle. Basic content exapmle. Basic content exapmle.

                a.carousel-control.left(href='#myCarousel', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left
                a.carousel-control.right(href='#myCarousel', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right



