.modal.fade.modal-choose-color(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true', id='z-index')
    .modal-dialog.modal-lg
        .modal-content
            .container-box
                .row
                    .col-lg-12
                        .choose-color-tittle-box
                            h4 Наименование
                            p Краткое описание
                .row
                    .col-lg-6
                        .image-choose-color-box
                            img(src="http://placehold.it/800x500", style='width: 100%;')
                    .col-lg-6
                        .content-choose-color-box
                            table.table.table-striped.table-hover.cart-table
                                thead
                                    tr
                                        th Цвет
                                        th Наименование
                                tbody
                                    tr
                                        td(style='background-color:black;')
                                        td Чёрный кофе
                                    tr
                                        td(style='background-color:red;')
                                        td Красная клюква
                                    tr
                                        td(style='background-color:yellow;')
                                        td Жёлтый лимон
                            .row
                                .col-lg-6
                                    strike 200$
                                    strong &nbsp;
                                    strong 150$
                                .col-lg-6
                                    button.btn.btn-default Купить
