.modal.fade.modal-call-back(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true', id='z-index')
    .modal-dialog.modal-sm
        .modal-content
            .container-box
                .call-back-box
                    h4 Мы перезвоним вам сами!
                    input.call-back-input(type='text', placeholder='Введите Ваше Имя')
                    input.call-back-input(type='text', placeholder='Введите Ваш Телефон')
                    textarea.call-back-text(placeholder='Введите текст')
                    button.call-back-button Отправить