.modal.fade.modal-by(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true', id='z-index')
    .modal-dialog.modal-lg
        .modal-content
            .container-box
                table.table.table-striped.table-hover.cart-table
                    thead
                        tr
                            th.th-img Каритинка
                            th Ваш заказ
                            th Количество
                            th Цена
                    tbody
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $22.00
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $12.00
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $48.00
                        tr
                            td
                                img.img-post(src='http://placehold.it/500x350', style='max-width: 100px;')
                            td
                                h5 Наименование вашего товара
                            td
                                span.glyphicon.glyphicon-minus(aria-hidden='true', id='plus')
                                input.count-product(type='text', value='4')
                                span.glyphicon.glyphicon-plus(aria-hidden='true', id='minus')
                            td $158.00
                        tr
                            td
                            td
                            td  Общая сумма:
                            td  $240.00
                        tr
                            td
                            td
                            td
                            td
                                a.btn.btn-default(href='cart.html', id='modal-button') Оформить заказ
