
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
        // Cart ahref 
        .cart
      // /.container 
    // Page Content 
    .container
      .container-box
      // Page Heading/Breadcrumbs 
      .row
      // /.row 
      // Intro Content 
      .row
        .col-md-6
        .col-md-6
          h2 About Modern Business
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?
      // /.row 
      // Team Members 
      .row
        .col-lg-12
        .col-md-4.text-center
        .col-md-4.text-center
        .col-md-4.text-center
        .col-md-4.text-center
        .col-md-4.text-center
        .col-md-4.text-center
      // /.row 
      // Our Customers 
      .row
        .col-lg-12
        .col-md-2.col-sm-4.col-xs-6
        .col-md-2.col-sm-4.col-xs-6
        .col-md-2.col-sm-4.col-xs-6
        .col-md-2.col-sm-4.col-xs-6
        .col-md-2.col-sm-4.col-xs-6
        .col-md-2.col-sm-4.col-xs-6
      // /.row 
      hr
      // Footer 
      footer
        hr
        // Start Footer 1-1 
        section.content-block-nopad.bg-deepocean
          .footer-box
            .foter-color
              .container
                .row
                  .col-sm-5
                    //<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">
                    .editContent
                    .editContent
                  .col-sm-6.col-sm-offset-1
                // /.row 
              // /.container 
            // ecn footer color 
          //end footer box
        //// END Footer 1-1 
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')