
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
      // /.container 
    // Page Content 
    .container
      // Page Heading/Breadcrumbs 
      .row
      // /.row 
      // Content Row 
      .row
        // Blog Post Content Column 
        .col-lg-8
          // Blog Post 
          hr
          // Date/Time 
          p
            i.fa.fa-clock-o
            |  Posted on August 24, 2013 at 9:00 PM
          hr
          // Preview Image 
          |  
          img.img-responsive(src='http://placehold.it/900x300', alt='')
          hr
          // Post Content 
          p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, tenetur natus doloremque laborum quos iste ipsum rerum obcaecati impedit odit illo dolorum ab tempora nihil dicta earum fugiat. Temporibus, voluptatibus.
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloribus, dolorem iusto blanditiis unde eius illum consequuntur neque dicta incidunt ullam ea hic porro optio ratione repellat perspiciatis. Enim, iure!
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!
          hr
          // Blog Comments 
          // Comments Form 
          .well
            h4 Leave a Comment:
            form(role='form')
              .form-group
              button.btn.btn-primary(type='submit') Submit
          hr
          // Posted Comments 
          // Comment 
          .media
            a.pull-left(href='#')
            .media-body
              h4.media-heading
                | Start Bootstrap 
                small August 25, 2014 at 9:30 PM
              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          // Comment 
          .media
            a.pull-left(href='#')
            .media-body
              h4.media-heading
                | Start Bootstrap 
                small August 25, 2014 at 9:30 PM
              | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              // Nested Comment 
              .media
                a.pull-left(href='#')
                .media-body
                  h4.media-heading
                    | Nested Start Bootstrap 
                    small August 25, 2014 at 9:30 PM
                  | Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              // End Nested Comment 
        // Blog Sidebar Widgets Column 
        .col-md-4
          // Blog Search Well 
          .well
            h4 Blog Search
            .input-group
              input.form-control(type='text')
              |  
              span.input-group-btn
            // /.input-group 
          // Blog Categories Well 
          .well
            h4 Blog Categories
            .row
              .col-lg-6
              .col-lg-6
            // /.row 
          // Side Widget Well 
          .well
            h4 Side Widget Well
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
      // /.row 
      hr
      // Footer 
      footer
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')