
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
      // /.container 
    // Page Content 
    .container
      // Page Heading/Breadcrumbs 
      .row
      // /.row 
      .row
        // Blog Entries Column 
        .col-md-8
          // First Blog Post 
          h2
          p.lead
            | by 
            a(href='index.php') Start Bootstrap
          p
            i.fa.fa-clock-o
            |  Posted on August 28, 2013 at 10:00 PM
          hr
          a(href='blog-post.html')
          hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.
          a.btn.btn-primary(href='#')
            | Read More 
            i.fa.fa-angle-right
          hr
          // Second Blog Post 
          h2
          p.lead
            | by 
            a(href='index.php') Start Bootstrap
          p
            i.fa.fa-clock-o
            |  Posted on August 28, 2013 at 10:45 PM
          hr
          a(href='blog-post.html')
          hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, quasi, fugiat, asperiores harum voluptatum tenetur a possimus nesciunt quod accusamus saepe tempora ipsam distinctio minima dolorum perferendis labore impedit voluptates!
          a.btn.btn-primary(href='#')
            | Read More 
            i.fa.fa-angle-right
          hr
          // Third Blog Post 
          h2
          p.lead
            | by 
            a(href='index.php') Start Bootstrap
          p
            i.fa.fa-clock-o
            |  Posted on August 28, 2013 at 10:45 PM
          hr
          a(href='blog-post.html')
          hr
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.
          a.btn.btn-primary(href='#')
            | Read More 
            i.fa.fa-angle-right
          hr
          // Pager 
          ul.pager
            li.previous
            li.next
        // Blog Sidebar Widgets Column 
        .col-md-4
          // Blog Search Well 
          .well
            h4 Blog Search
            .input-group
              input.form-control(type='text')
              |  
              span.input-group-btn
            // /.input-group 
          // Blog Categories Well 
          .well
            h4 Blog Categories
            .row
              .col-lg-6
              // /.col-lg-6 
              .col-lg-6
              // /.col-lg-6 
            // /.row 
          // Side Widget Well 
          .well
            h4 Side Widget Well
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
      // /.row 
      hr
      // Footer 
      footer
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')