
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
    <script type="text/javascript" src="js/bootsrap.min.js"></script>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
        // Cart ahref 
        .cart
      // /.container 
    // Start Shop 1-7 
    .container
      .container-box
      .row
        table.table.table-striped.table-hover.cart-table
          thead
          tbody
            tr
              td
              td
              td M
              td $22.00
              td
              td
            tr
              td
              td
              td L
              td $12.50
              td
              td
            tr
              td
              td
              td 12
              td $48.00
              td
              td
            tr
              td
              td
              td SML
              td $22.00
              td
              td
        hr
        .row
          .col-sm-4
            .input-group
              input.form-control(type='text', placeholder='Discount Code')
              |  
              span.input-group-btn
            // /input-group 
          .col-sm-8
          hr
          .row
            .col-md-5.col-sm-6.col-xs-12
              h3 Calculate Shipping:
              .form-group
              .row
                .col-sm-6
                .col-sm-6
              button.btn.btn-primary(type='button') Update Shipping
            .col-md-5.col-md-offset-2.col-sm-6.col-xs-12
              h3 Cart & Shipping Totals:
              table.table.table-striped.table-hover.cart-table
    //// End Shop 1-7 
    hr
    //footer
    footer
      hr
      // Start Footer 1-1 
      section.content-block-nopad.bg-deepocean
        .footer-box
          .foter-color
            .container
            // /.row 
          // /.container 
        // ecn footer color 
        //end footer box
      //// END Footer 1-1 
    //end footer