html
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width,initial-scale=1')
  title Modern Business - Start Bootstrap Template
  link(href='css/bootstrap.min.css', rel='stylesheet')
  link(href='css/modern-business.css', rel='stylesheet')
body
  .container
    .container-box
    .row
      table.table.table-striped.table-hover.cart-table
        thead
        tbody
          tr
            td
            td
            td M
            td $22.00
            td
            td
          tr
            td
            td
            td L
            td $12.50
            td
            td
          tr
            td
            td
            td 12
            td $48.00
            td
            td
          tr
            td
            td
            td SML
            td $22.00
            td
            td
      hr
      .row
        .col-sm-4
          .input-group
            input.form-control(type='text', placeholder='Discount Code')
            |
            span.input-group-btn
          // /input-group
        .col-sm-8
        hr
        .row
          .col-md-5.col-sm-6.col-xs-12
            h3 Calculate Shipping:
            .form-group
            .row
              .col-sm-6
              .col-sm-6
            button.btn.btn-primary(type='button') Update Shipping
          .col-md-5.col-md-offset-2.col-sm-6.col-xs-12
            h3 Cart & Shipping Totals:
            table.table.table-striped.table-hover.cart-table
  //// End Shop 1-7
  hr
  //footer
  footer
    hr
    // Start Footer 1-1
    section.content-block-nopad.bg-deepocean
      .footer-box
        .foter-color
          .container
          // /.row
        // /.container
      // ecn footer color
      //end footer box
    //// END Footer 1-1
  //end footer