
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
        // Cart ahref 
        .cart
      // /.container 
    // Page Content 
    .container
      .container-box
        // Page Heading/Breadcrumbs 
        .row
        // /.row 
        // Content Row 
        .row
          // Map Column 
          .col-md-8
            // Embedded Google Map 
            iframe(width='100%', height='400px', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d90820.16443894072!2d35.126924949334416!3d47.82335349866207!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1465395357391')
          // Contact Details Column 
          .col-md-4
            h3 Contact Details
            p
              | 3481 Melrose Place
              br
              | Beverly Hills, CA 90210
              br
            p
              i.fa.fa-phone
              |  
              abbr(title='Phone') P
              | : (123) 456-7890
            p
              i.fa.fa-envelope-o
              |  
              abbr(title='Email') E
              | : 
              a(href='mailto:name@example.com') name@example.com
            p
              i.fa.fa-clock-o
              |  
              abbr(title='Hours') H
              | : Monday - Friday: 9:00 AM to 5:00 PM
            ul.list-unstyled.list-inline.list-social-icons
              li
              li
              li
              li
        // /.row 
        // Contact Form 
        // In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. 
        .row
      // /.row 
      hr
      // Footer 
      footer
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')
    // Contact Form JavaScript 
    // Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. 
    script(src='js/jqBootstrapValidation.js')
    script(src='js/contact_me.js')