
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
      // /.container 
    // Page Content 
    .container
      // Page Heading/Breadcrumbs 
      .row
      // /.row 
      // Content Row 
      .row
        .col-lg-12
          #accordion.panel-group
            .panel.panel-default
              .panel-heading
              #collapseOne.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseTwo.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseThree.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseFour.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseFive.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseSix.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseSeven.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseEight.panel-collapse.collapse
            // /.panel 
            .panel.panel-default
              .panel-heading
              #collapseNine.panel-collapse.collapse
            // /.panel 
          // /.panel-group 
        // /.col-lg-12 
      // /.row 
      hr
      // Footer 
      footer
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')