
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li: a(href="about.html") About
            li: a(href="services.html") Services
            li: a(href="contact.html") Contact
        // /.navbar-collapse
        // Cart ahref 
        .cart
          a.btn.btn-small(href="cart.html")
            h4: i.fa.fa-fw.fa-trash
              | (25) Cart
      // /.container 
    // Header Carousel 
    header#myCarousel.carousel.slide
      // Indicators 
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
      // Wrapper for slides 
      .carousel-inner
        .item.active
          .fill(style='background-image:url("http://placehold.it/1900x1080&text=Slide One")')
          .carousel-caption
        .item
          .fill(style='background-image:url("http://placehold.it/1900x1080&text=Slide Two")')
          .carousel-caption
        .item
          .fill(style='background-image:url("http://placehold.it/1900x1080&text=Slide Three")')
          .carousel-caption
      // Controls 
      |  
      a.left.carousel-control(href='#myCarousel', data-slide='prev')
        span.icon-prev
        |  
      a.right.carousel-control(href='#myCarousel', data-slide='next')
    // Page Content 
    .container
      // Marketing Icons Section 
      .row
        .list-group-box
          .col-md-3
            .list-group
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
              a.list-group-item(href="categories.html") Home
        .col-lg-9
          h1.page-header Welcome test

        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
        .col-md-3
          include ./app/shared/product/product-teser.pug
      // /.row 
      // Portfolio Section 
      .row
        .col-lg-12
          h2.page-header Any products
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
        .col-md-4.col-sm-6
          a(href="more-info.html")
            img.img-responsive.img-portfolio.img-hover(src="http://placehold.it/700x450")
      // /.row 
      // Features Section 
      .row
        .col-lg-12
        .col-md-6
          p The Modern Business template by Start Bootstrap includes:
          ul
            li
            li jQuery v1.11.0
            li Font Awesome v4.1.0
            li Working PHP contact form with validation
            li Unstyled page elements for easy customization
            li 17 HTML pages
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.
        .col-md-6
      // /.row 
      hr
      // Call to Action Section 
      .well
      hr
      // Footer 
      footer
        // Start Footer 1-1 
        section.content-block-nopad.bg-deepocean
          .footer-box
            .foter-color
              .container
                .row
                  .col-sm-5
                    //<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">
                    .editContent
                      h3 Over
                        strong 10,00
                        | downloads last month...
                    .editContent
                      p.lead We've hand-crafted
                        strong bskit
                        | in great detail to make your life easier... enjoy!
                  .col-sm-6.col-sm-offset-1
                    .row
                      .col-md-4
                        .editContent
                          h4 Shortcuts
                        .editContent
                          ul
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                            li: a(href='#') About us
                      .col-md-4
                        .editContent
                          ul
                            li: a(href="#") Privasy Policy
                            li: a(href="#") Privasy Policy
                            li: a(href="#") Privasy Policy
                      .col-md-4
                        .editContent
                          h4 Seen ????
                        a.btn.btn-block.btn-primary(href="#") By now!
                // /.row
              // /.container 
            // ecn footer color 
          //end footer box
        //// END Footer 1-1 
    // /.container 
    // jQuery 
    script(src='js/jquery.min.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')
    // Script to Activate the Carousel 
    script
      | $('.carousel').carousel({
      |  interval: 5000 //changes the speed
      | })