
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
        // Cart ahref 
        .cart
      // /.container 
    // Page Content 
    .container
      .container-box
      // Page Heading/Breadcrumbs 
      .row
      // /.row 
      // Portfolio Item Row 
      .row
        .col-md-8
          #carousel-example-generic.carousel.slide(data-ride='carousel')
            // Indicators 
            ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
            // Wrapper for slides 
            .carousel-inner
              .item.active
              .item
              .item
            // Controls 
            |  
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
              |  
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
          .container-box
            .col-sm-4
            .col-sm-4
            .col-sm-4
        .col-md-4
          button.btn.btn-large
            i.fa.fa-fw.fa-heart(title='Add to wish')
            |  Add to Wish
          |  
          button.btn.btn-large
            i.fa.fa-fw.fa-random(title='Add to wish')
            |  Add to Wish
          h3 Brand (Lorem)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.
          hr
          h4 Product Code - 23142
          h5 Reward Points: 12345
          h5 Availability: Out Of Stock
          hr
          span.price By now: 600$ 
          span.ex-tax
          |  
          button.btn.btn-large.btn-success(style='float: right', type='button') Add to cart
          hr
          h3 Project Details
          ul
            li Lorem Ipsum
            li Dolor Sit Amet
            li Consectetur
            li Adipiscing Elit
      // /.row 
      // Related Projects Row 
      .row
      // /.row 
      hr
      // Footer 
      footer
        // Start Footer 1-1 
        section.content-block-nopad.bg-deepocean
          .footer-box
            .foter-color
              .container
                .row
                  .col-sm-5
                    //<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">
                    .editContent
                    .editContent
                  .col-sm-6.col-sm-offset-1
                // /.row 
              // /.container 
            // ecn footer color 
          //end footer box
        //// END Footer 1-1 
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')