
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS 
    link(href='css/bootstrap.min.css', rel='stylesheet')
    // Custom CSS 
    link(href='css/modern-business.css', rel='stylesheet')
    // Custom Fonts 
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries 
    // WARNING: Respond.js doesn't work if you view the page via file:// 
    //[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]
  body
    // Navigation 
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display 
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            |  
            span.icon-bar
            |  
            span.icon-bar
            |  
            span.icon-bar
          |  
          a.navbar-brand(href='index.html') Site Tittle
        // Collect the nav links, forms, and other content for toggling 
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
        // /.navbar-collapse 
        // Cart ahref 
        .cart
      // /.container 
    // Page Content 
    .container
      .container-box
      // Page Heading/Breadcrumbs 
      .row
      // /.row 
      // Image Header 
      .row
      // /.row 
      // Service Panels 
      // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ 
      .row
        .col-lg-12
        .col-md-3.col-sm-6
        .col-md-3.col-sm-6
        .col-md-3.col-sm-6
        .col-md-3.col-sm-6
      // Service Tabs 
      .row
        .col-lg-12
        .col-lg-12
          ul#myTab.nav.nav-tabs.nav-justified
            li.active
            li
            li
            li
          #myTabContent.tab-content
            #service-one.tab-pane.fade.active.in
              h4 Service One
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
            #service-two.tab-pane.fade
              h4 Service Two
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
            #service-three.tab-pane.fade
              h4 Service Three
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
            #service-four.tab-pane.fade
              h4 Service Four
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae repudiandae fugiat illo cupiditate excepturi esse officiis consectetur, laudantium qui voluptatem. Ad necessitatibus velit, accusantium expedita debitis impedit rerum totam id. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quibusdam recusandae illum, nesciunt, architecto, saepe facere, voluptas eum incidunt dolores magni itaque autem neque velit in. At quia quaerat asperiores.
      // Service List 
      // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ 
      .row
        .col-lg-12
        .col-md-4
          .media
            .pull-left
            .media-body
              h4.media-heading Service One
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
          .media
            .pull-left
            .media-body
              h4.media-heading Service Two
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
          .media
            .pull-left
            .media-body
              h4.media-heading Service Three
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
        .col-md-4
          .media
            .pull-left
            .media-body
              h4.media-heading Service Four
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
          .media
            .pull-left
            .media-body
              h4.media-heading Service Five
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
          .media
            .pull-left
            .media-body
              h4.media-heading Service Six
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
        .col-md-4
          .media
            .pull-left
            .media-body
              h4.media-heading Service Seven
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
          .media
            .pull-left
            .media-body
              h4.media-heading Service Eight
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
          .media
            .pull-left
            .media-body
              h4.media-heading Service Nine
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo itaque ipsum sit harum.
      // /.row 
      hr
      // Footer 
      footer
        hr
        // Start Footer 1-1 
        section.content-block-nopad.bg-deepocean
          .footer-box
            .foter-color
              .container
                .row
                  .col-sm-5
                    //<img src="images/brand/bskit-logo-white.png" class="brand-img img-responsive">
                    .editContent
                    .editContent
                  .col-sm-6.col-sm-offset-1
                // /.row 
              // /.container 
            // ecn footer color 
          //end footer box
        //// END Footer 1-1 
    // /.container 
    // jQuery 
    script(src='js/jquery.js')
    // Bootstrap Core JavaScript 
    script(src='js/bootstrap.min.js')