.row
    .col-md-3: include ../category/cateory-list-blog.pug

    .col-md-9
        .row
            .col-md-12
                include post-teser.pug
                include post-teser.pug
                include post-teser.pug
                include post-teser.pug
                include post-teser.pug
