.row
  .col-md-12
    .panel.panel-default
      .panel-body
        .row
          .col-md-3
            img.img-post(src="http://placehold.it/800x500")

          .col-md-9
            h4 Post Tittle
            p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      .panel-footer
        .row
          .col-md-12
            .row
              .col-md-3
                ul.rate
                  li.star
                  li.star
                  li.star
                  li.star
                  li.star
              .col-md-6
                .row
                  .col-md-6
                span.glyphicon.glyphicon-eye-open(aria-hidden='true')
                  a(href='#') &nbsp;Views
                  .col-md-6
                span.glyphicon.glyphicon-comment(aria-hidden='true')
                  a(href='#') &nbsp;Comments
              .col-md-3
                button.btn.btn-default(id='post-more-button'): a(href='./post-full.html') More